<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/custom.css?version=<?php print time(); ?>" type="text/css">
    <title>Formula2 RC Car Live Video</title>
</head>
<body>
	<main>
		<section class="box1">
			<h1>Formula2 RC Car Live Video</h1>
			<p>Created by Collin Wrynn, Mason Ritchie, and Shamus Murphy</p>
		</section>

		<section class="box2">
			<!-- video -->
			<img src="{{ url_for('live_stream') }}" alt="Live Stream" style="width: 100%; max-width: 600px;">
		</section>

		<section class="box4">
			<button onclick="sendCommand('increase')">Increase Speed</button>
			<button onclick="sendCommand('decrease')">Decrease Speed</button>
			<button onclick="sendCommand('forward')">Forward</button>
			<button onclick="sendCommand('reverse')">Reverse</button>
			<button onclick="sendCommand('park')">Park</button>
			<button onclick="sendCommand('left')">Left</button>
			<button onclick="sendCommand('right')">right</button>
		</section>
	</main>
    <script>
        function sendCommand(command) {
            fetch(`/command/${command}`, { method: 'POST' })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>

